[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/visualstar"]
	path = vim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/textobj-indent"]
	path = vim/bundle/textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/bundle/liquid"]
	path = vim/bundle/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/bundle/specky"]
	path = vim/bundle/specky
	url = https://github.com/vim-scripts/Specky
[submodule "vim/bundle/rvmprompt"]
	path = vim/bundle/rvmprompt
	url = https://github.com/lucapette/rvmprompt.vim.git
[submodule "vim/bundle/codepath"]
	path = vim/bundle/codepath
	url = https://github.com/lucapette/codepath.vim
[submodule "vim/bundle/textobj-quoted"]
	path = vim/bundle/textobj-quoted
	url = https://github.com/lucapette/vim-textobj-quoted.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
