snippet function
function ${1:function_name}(${2:argument}) {
  $3
}
endsnippet
snippet if
if (${1:condition}) {
  $2
}
endsnippet
snippet describe
describe('${1:description}', function() {
  $2
});
endsnippet
snippet it
it('${1:description}', function() {
  $2
});
endsnippet
snippet var
var ${1:name} = ${2:value};$3
endsnippet
snippet require
//= require ${1:lib}
endsnippet
